@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --color-background: #172336;
  --color-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  padding: 0 20%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  all: unset;
  cursor: pointer;
}

div#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  height: fit-content;
}
article {
  flex-grow: 1;
}
