@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --bg: #202020;
    --text-primary: #e7e7e7;
    --text-secondary: #666666;
    --json-key: #5f9cff;
    --json-string: #00c5a4;
    --json-number: #be9c02;
    --json-bool: #c31fe4;
    --json-null: #c31fe4;
    --json-bracket: var(--text-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    background: var(--bg);
    color: var(--text-primary);
    line-height: 1.6;
    overflow-x: hidden;
    position: relative;
    padding: 1rem;
}

a {
    color: unset;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.json-key {
    color: var(--json-key);
    text-shadow: 0 0 8px var(--json-key);
}

.json-string {
    color: var(--json-string);
    text-shadow: 0 0 8px var(--json-string);
}

.json-number {
    color: var(--json-number);
    text-shadow: 0 0 8px var(--json-number);
}

.json-bool {
    color: var(--json-bool);
    text-shadow: 0 0 8px var(--json-bool);
}

.json-null {
    color: var(--json-null);
    text-shadow: 0 0 8px var(--json-null);
}

.json-bracket {
    color: var(--json-bracket);
    text-shadow: 0 0 6px var(--json-bracket);
    font-weight: bold;
}