@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --bg: #0b0b0b;
    --text-primary: #e4e4e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    background: var(--bg);
    color: var(--text-primary);
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}