@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --color-background: #002c41;
  --color-text: #fff1a1;
  --font-family: "Roboto Mono", monospace;
}

html[data-theme="1"] {
  --color-background: #002c41;
  --color-text: #fff1a1;
}

html[data-theme="2"] {
  --color-background: #ac8968;
  --color-text: #3e362e;
}

html[data-theme="3"] {
  --color-background: #1f2833;
  --color-text: #66fcf1;
}

html[data-theme="4"] {
  --color-background: #687864;
  --color-text: #8fc1e3;
}

html[data-theme="5"] {
  --color-background: #feffff;
  --color-text: #17252a;
}

html[data-theme="6"] {
  --color-background: #17252a;
  --color-text: #feffff;
}

html[data-theme="7"] {
  --color-background: #000000;
  --color-text: #00ff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  border: 0.5rem solid var(--color-text);
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  min-height: 100%;
}

a {
  all: unset;
  color: var(--color-text);
  text-decoration: underline;
  cursor: pointer;
}

.terminal-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.8rem;
}

.output-wrapper {
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 10%;
}

p.output-history {
  padding-bottom: 1rem;
}

.input-wrapper {
  display: flex;
  width: 100%;
}

.input-prompt {
  margin-right: 0.6rem;
}

.input-field {
  all: unset;
  flex-grow: 1;
  border: none;
  background: none;
}

.input-field:focus {
  outline: none;
}

::selection {
  color: var(--color-background);
  background: var(--color-text);
}

::-moz-selection {
  color: var(--color-background);
  background: var(--color-text);
}
