:root {
  --color-100: #f7f7f7;
  --color-200: #0ef7cc;
  --color-300: #40ddc1;
  --color-400: #2c7769;
  --color-500: #404040;
  --color-600: #171717;

  --rem-100: 0.125rem;
  --rem-200: 0.5rem;
  --rem-300: 1rem;
  --rem-400: 1.5rem;
  --rem-500: 2rem;
  --rem-600: 4rem;
  --rem-700: 8rem;

  --font-100: 1.125rem;
  --font-200: 2rem;
  --font-300: 2.5rem;
  --font-400: 3rem;
  --font-500: 4rem;
}

:root {
  --color-background: var(--color-600);
  --color-accent: var(--color-200);
  --color-text: var(--color-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: var(--font-100);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
